

#  @@@@@@   @@@@@@@   @@@   @@@@@@@  @@@ @@@  @@@@@@@    @@@@@@   @@@  @@@  @@@@@@@   @@@@@@@@  @@@  @@@
# @@@@@@@   @@@@@@@@  @@@  @@@@@@@@  @@@ @@@  @@@@@@@@  @@@@@@@@  @@@  @@@  @@@@@@@@  @@@@@@@@  @@@  @@@
# !@@       @@!  @@@  @@!  !@@       @@! !@@  @@!  @@@  @@!  @@@  @@!  !@@  @@!  @@@  @@!       @@!  @@@
# !@!       !@!  @!@  !@!  !@!       !@! @!!  !@   @!@  !@!  @!@  !@!  @!!  !@!  @!@  !@!       !@!  @!@
# !!@@!!    @!@@!@!   !!@  !@!        !@!@!   @!@!@!@   @!@  !@!   !@@!@!   @!@  !@!  @!!!:!    @!@  !@!
#  !!@!!!   !!@!!!    !!!  !!!         @!!!   !!!@!!!!  !@!  !!!    @!!!    !@!  !!!  !!!!!:    !@!  !!!
#      !:!  !!:       !!:  :!!         !!:    !!:  !!!  !!:  !!!   !: :!!   !!:  !!!  !!:       :!:  !!:
#     !:!   :!:       :!:  :!:         :!:    :!:  !:!  :!:  !:!  :!:  !:!  :!:  !:!  :!:        ::!!:!
# :::: ::    ::        ::   ::: :::     ::     :: ::::  ::::: ::   ::  :::   :::: ::   :: ::::    ::::
# :: : :     :        :     :: :: :     :     :: : ::    : :  :    :   ::   :: :  :   : :: ::      :


#---------------------------------------------------------------------------------
# NOTA  En este archivo esta diseñado para hacer las configuraciones del compose.
#       Se recomienda que no se modifique el archivo compose.yml
#---------------------------------------------------------------------------------

#   APACHE CONFIGS
HTTPD_VERSION=latest
HTTPD_PORT=8080

#   PHP CONFIGS
PHP_VERSION=7.4
#PHP_VERSION=latest
PHP_PORT=9000

#   POSTGRES CONFIGS
POSTGRES_VERSION=9.6
#POSTGRES_VERSION=latest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_POST=5432
